# ACCENTURE VIRTUAL INTERNSHIP

<span style='color: red;'>DATA LOADING AND DATA CLEANINIG</span>

In [36]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\not_cleaned_datasets\\Content.csv')

# Access the data in the DataFrame
print(df.head())  # Print the first few rows of the DataFrame

   Unnamed: 0                            Content ID
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  \
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f
3           3  356fff80-da4d-4785-9f43-bc1261031dc6
4           4  01ab84dd-6364-4236-abbb-3f237db77180

                                User ID   Type        Category
0  8d3cd87d-8a31-4935-9a4f-b319bfe05f31  photo        Studying  \
1  beb1f34e-7870-46d6-9fc7-2e12eb83ce43  photo  healthy eating
2  a5c65404-5894-4b87-82f2-d787cbee86b4  photo  healthy eating
3  9fb4ce88-fac1-406c-8544-1a899cee7aaf  photo      technology
4  e206e31b-5f85-4964-b6ea-d7ee5324def1  video            food

                                                 URL
0  https://socialbuzz.cdn.com/content/storage/975...
1  https://socialbuzz.cdn.com/content/storage/9f7...
2  https://socialbuzz.cdn.com/content/storage/230...
3  https://socialbuzz.cdn.com/content/storage/356...
4  https://socialbuzz.cdn.com/content/storage/01a...

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [38]:
# Read the CSV file into a DataFrame
df1 = pd.read_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\not_cleaned_datasets\\Reactions.csv')

# Access the data in the DataFrame
print(df1.head())  # Print the first few rows of the DataFrame

   Unnamed: 0                            Content ID
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  \
1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2
2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2
3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2
4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2

                                User ID     Type             Datetime
0                                   NaN      NaN  2021-04-22 15:17:15
1  5d454588-283d-459d-915d-c48a2cb4c27f  disgust  2020-11-07 09:43:50
2  92b87fa5-f271-43e0-af66-84fac21052e6  dislike  2021-06-17 12:22:51
3  163daa38-8b77-48c9-9af6-37a6c1447ac2   scared  2021-04-18 05:13:58
4  34e8add9-0206-47fd-a501-037b994650a2  disgust  2021-01-06 19:13:01

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [40]:
# Read the CSV file into a DataFrame
df2 = pd.read_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\not_cleaned_datasets\\ReactionTypes.csv')

# Access the data in the DataFrame
print(df2.head())  # Print the first few rows of the DataFrame

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 640.0+ bytes

In [42]:
# dropping irrelevant coloumns from three datasets 
columns_to_drop = ['User ID', 'URL']
df = df.drop(columns_to_drop, axis=1)

In [43]:
columns_to_drop = ['User ID', 'Datetime']
df1 = df1.drop(columns_to_drop, axis=1)

In [44]:
df.head()

   Unnamed: 0                            Content ID   Type        Category
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1           1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2           2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3           3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4           4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [45]:
df1.head()

   Unnamed: 0                            Content ID     Type
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN
1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust
2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike
3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared
4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust

In [46]:
df.shape

(1000, 4)

In [47]:
df1.shape

(25553, 3)

In [48]:
df2.shape

(16, 4)

In [49]:
# Check for null values
null_values = df.isnull().sum()
print(null_values)

Unnamed: 0    0
Content ID    0
Type          0
Category      0
dtype: int64

In [50]:
null_values1 = df1.isnull().sum()
print(null_values1)

Unnamed: 0      0
Content ID      0
Type          980
dtype: int64

In [51]:
null_values2 = df2.isnull().sum()
print(null_values2)

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [52]:
#changing the names of coloumns 
df.rename(columns={'Type': 'Content_type'}, inplace=True)
df1.rename(columns={'Type': 'Reaction_type'}, inplace=True)
df2.rename(columns={'Type': 'Reaction_type'}, inplace=True)

In [53]:
df.head()

,Unnamed: 0,Content ID,Content_type,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [54]:
df1.head()

   Unnamed: 0                            Content ID Reaction_type
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2           NaN
1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike
3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared
4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust

In [55]:
df2.head()

   Unnamed: 0 Reaction_type Sentiment  Score
0           0         heart  positive     60
1           1          want  positive     70
2           2       disgust  negative      0
3           3          hate  negative      5
4           4    interested  positive     30

In [56]:
# Replace null values with the maximum number of entries in the column
max_entries = df1['Reaction_type'].value_counts().idxmax()
df1['Reaction_type'].fillna(max_entries, inplace=True)

In [57]:
df1.head()

   Unnamed: 0                            Content ID Reaction_type
0           0  97522e57-d9ab-4bd6-97bf-c24d952602d2         heart
1           1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust
2           2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike
3           3  97522e57-d9ab-4bd6-97bf-c24d952602d2        scared
4           4  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust

In [58]:
df1.isnull().sum()

Unnamed: 0       0
Content ID       0
Reaction_type    0
dtype: int64

In [59]:
# Count the occurrences of different types in 'col1'
counts = df['Content_type'].value_counts()
print(counts)

Content_type
photo    261
video    259
GIF      244
audio    236
Name: count, dtype: int64

In [60]:
counts1 = df1['Reaction_type'].value_counts()
print(counts1)

Reaction_type
heart          2602
scared         1572
peeking        1559
hate           1552
interested     1549
dislike        1548
adore          1548
want           1539
love           1534
disgust        1526
like           1520
super love     1519
indifferent    1512
cherish        1501
worried        1497
intrigued      1475
Name: count, dtype: int64

In [62]:
counts2 = df['Category'].value_counts()
print(counts2)

Category
technology         72
animals            68
travel             67
culture            66
science            64
food               62
healthy eating     61
cooking            61
soccer             61
fitness            61
tennis             59
dogs               58
education          57
studying           56
veganism           49
public speaking    49
Fitness             5
Animals             4
Science             4
Soccer              3
Food                2
Studying            2
Education           2
Travel              2
Technology          1
Culture             1
Healthy Eating      1
Veganism            1
Public Speaking     1
Name: count, dtype: int64

In [63]:
df.isnull().sum()

Unnamed: 0      0
Content ID      0
Content_type    0
Category        0
dtype: int64

In [64]:
df1.isnull().sum()

Unnamed: 0       0
Content ID       0
Reaction_type    0
dtype: int64

In [66]:
df2.isnull().sum()

Unnamed: 0       0
Reaction_type    0
Sentiment        0
Score            0
dtype: int64

In [67]:
df.shape

(1000, 4)

In [68]:
df1.shape

(25553, 3)

In [69]:
df2.shape

(16, 4)

In [71]:
#saving dataframes in three different files 
# Save the DataFrame to a new CSV file
df.to_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\cleaned datasets\\CONTENT.csv', index=False)
df1.to_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\cleaned datasets\\REACTION.csv', index=False)
df2.to_csv('C:\\Users\\ASUS\\Desktop\\PROJECTS_DS\\Accenture-virtual-internship\\cleaned datasets\\REACTION_TYPE.csv', index=False)